<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP Verification</title>
</head>
<body>

                <form action = "/OTPVerification/" method="get" style="display:inline">
                    {% csrf_token %}
                    <div class = "form-group search" >
                    <input type = "text"  value = "" name = "q" placeholder = "Enter OTP" required>
                    </div>
                    <button type = "submit" class = "btn btn-primary">Submit&nbsp;</button>
                </form>

</body>
</html>